<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
    <li class="nav-item active"><a class="nav-link" asp-controller="Account" asp-action="Index">Home</a></li>
  
</ul>

<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">

    <li><partial name="_LoginPartial" /></li>
   

</ul>
